/* Other rules */

.app {
  width: 100vw;
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
}

.pages {
  display: flex;
  justify-content: center;
}

.pages button {
  cursor: pointer;
  margin-right: 5px;
}

h2 {
  text-align: center;
}

button {
  cursor: pointer;
}
/* HEADER--------------------------------------------------- */

.header {
  background-color: #0f0f0f;
}

.header img {
  width: 200px;
}

.header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  margin: 0px auto;
}

.menu button,
.menu div {
  margin-right: 15px;
  cursor: pointer;
}

.menu {
  display: flex;
}

.search-bar input {
  width: 200px;
  height: 30px;
  background-color: #0f0f0f;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  padding: 5px;
  color: white;
}

.link-home {
  cursor: pointer;
}

.menu .link-comics,
.menu .link-favorites {
  text-decoration: none;
  color: white;
}

.menu button {
  font-family: "Roboto Condensed", sans-serif;
}
/* HERO-------------------------------------------------- */
.hero {
  height: 500px;
  width: 100vw;
  background-color: rgba(30, 30, 30, 1);
  display: flex;
  justify-content: center;
}
.hero img {
  width: 1380px;
  height: 500px;
  object-fit: cover;
  object-position: top;
  filter: grayscale(50%);
  opacity: 50%;
}
/* HOME--------------------------------------------------- */
.homepage {
  background-color: rgba(30, 30, 30, 1);
}

.homepage .container {
  margin-top: 0px;
}

.characters-page .characters-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.character-card {
  width: 400px;
  height: 300px;

  padding: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.character-card .character-picture img {
  width: 200px;
  border-radius: 5px;
}

.character-avatar {
  display: flex;
  flex-direction: column;
}

/* COMIC CHARACHTER PAGES ------------------------------------------------ */

.comic-characterId-page img {
  width: 200px;
  object-fit: cover;
}

.comic-characterId-page .comic-card {
  width: 400px;
  border: 2px solid red;
  margin: 0 20px 20px 0;
}

/* COMICS PAGES ------------------------------------------------ */

.comics-page img {
  width: 200px;
  object-fit: cover;
}

.comics-page .comic-card {
  width: 400px;
  border: 2px solid red;
  margin: 0 20px 20px 0;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
}

/* FORMS------------------------------------------------ */

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  margin: 0px auto;
}

.container-form {
  max-width: 1380px;
  margin: 0px auto;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 70vh;
}

.signup-form button {
  margin-top: 20px;
}

/* FAVORIS------------------------------------------------ */

.favorite-icon {
  color: grey;
}

.favorite-icon:hover {
  color: red;
  cursor: pointer;
}

/* FOOTER------------------------------------------------ */

footer {
  margin-top: 50px;
}
