/* Other rules */

.app {
  width: 100vw;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
  margin-top: 50px;
}
/* HEADER--------------------------------------------------- */

.header {
  border-bottom: 1px solid black;
}

.header img {
  width: 200px;
}

.header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu button {
  margin-right: 15px;
}

/* HOME--------------------------------------------------- */

.characters-page .characters-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.character-card {
  width: 200px;
  height: 300px;
  border: 2px solid red;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.character-card .character-picture img {
  width: 100px;
}

.character-avatar {
  display: flex;
}
