/* Other rules */

.app {
  max-width: 1920px;
  min-height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  max-width: 1380px;
  margin: 0px auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
}

h2 {
  margin: 30px 0px 30px 30px;
  font-size: 30px;
}

h3 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

button {
  cursor: pointer;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.chevron {
  font-size: 40px;
  color: #ee171f;
}

/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon,
.hvr-icon-forward:focus .hvr-icon,
.hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

.favorite {
  /* background-color: red; */
  color: red;
}

.notFavorite {
  color: lightgray;
}

.add-favorite {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
}

.icon-bar {
  display: flex;
  align-items: flex-start;
}

.cart-icon {
  font-size: 20px;
  color: lightgray;
  margin-left: 20px;
}

.cart-icon:hover {
  cursor: pointer;
  color: #ee171f;
}

.warning {
  color: #ee171f;
  margin-top: 10px;
}

.link {
  text-decoration: none;
  color: rgba(30, 30, 30, 1);
}

/* HEADER--------------------------------------------------- */

.header {
  background-color: #0f0f0f;
}

.header img {
  width: 200px;
}

.header-container {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1380px;
  margin: 0px auto;
}

.menu button,
.menu div {
  margin-right: 15px;
  cursor: pointer;
}

.menu {
  display: flex;
}

.search-bar input {
  width: 200px;
  height: 30px;
  background-color: #0f0f0f;
  border: none;
  /* border: 1px solid white;
  border-radius: 10px; */
  font-size: 18px;
  padding: 5px;
  color: white;
  margin-left: 10px;
}

.search-bar input:focus {
  outline: none;
  /* background-color: white; */
  /* color: #0f0f0f; */
  font-size: 25px;
  color: white;
}

.search-bar {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
}

.search-bar ::placeholder {
  color: white;
}

.search-bar span {
  color: white;
  font-size: 25px;
}

.link-home {
  cursor: pointer;
}

.menu .link-comics,
.menu .link-favorites {
  text-decoration: none;
  color: white;
}

.menu .link-comics div,
.menu .link-favorites div {
  padding: 5px;
}

.menu .link-comics div:hover,
.menu .link-favorites div:hover {
  border-bottom: 3px solid #ee171f;
}

.menu button {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  padding: 5px;
  min-width: 150px;
  border-radius: 5px;
  border: none;
}

.menu-icon {
  color: white;
  font-size: 40px;
}

/* HERO-------------------------------------------------- */
.hero {
  height: 500px;
  width: 100vw;
  background-color: rgba(30, 30, 30, 0.5);
  display: flex;
  justify-content: center;
}

.hero img {
  width: 1920px;
  height: 500px;
  object-fit: cover;
  object-position: top;
  filter: grayscale(50%);
  opacity: 50%;
}
/* HOME--------------------------------------------------- */
.homepage {
  background-color: rgba(30, 30, 30, 1);
}

.homepage .container {
  margin-top: 40px;
  border-radius: 20px;
}

.homepage .pages {
  margin-top: 30px;
  margin-bottom: 30px;
}

.characters-page .characters-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 10px;
}

.link-characterId-comics {
  text-decoration: none;
  color: black;
}

.character-card {
  width: 220px;
  height: 290px;
  margin-bottom: 30px;
  margin-right: 10px;
  box-shadow: 2px 5px 10px rgba(30, 30, 30, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.character-card .character-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.character-picture {
  height: 65%;
}

.character-text {
  padding: 5px;
  border-top: 5px solid #ee171f;
}

.character-name {
  padding: 10px 0px;
  font-weight: bold;
}

.pages button {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.current-page,
.next {
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.current-page {
  background-color: #ee171f;
  color: white;
  padding: 10px;
}

.prev:hover,
.next:hover {
  border-bottom: 2px solid #ee171f;
}

/* COMIC CHARACHTER PAGES ------------------------------------------------ */
.comic-characterId-page .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.comic-characterId--content {
  width: 48%;
  margin-bottom: 20px;
}

.comic-characterId-page img {
  width: 200px;
  object-fit: cover;
  box-shadow: 10px 5px 10px rgba(30, 30, 30, 0.3);
}

.comic-characterId-page .comic-card {
  width: 100%;
  margin: 0 20px 20px 0;
  display: flex;
}

.comic-card--text {
  margin-left: 20px;
  padding: 10px;
}

.comic-description {
  height: 200px;
  line-height: 20px;
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 20px;
}

/* COMICS PAGES  & FAVORITES PAGE------------------------------------------------ */
.comic-card {
  width: 220px;
  margin: 0 30px 5px 0;
  cursor: pointer;
}

/* COMICS PAGES ------------------------------------------------ */

.comics-page {
  margin-bottom: 30px;
}

.comics-page img {
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 5px 10px rgba(30, 30, 30, 0.3);
}

.comics-page .comic-card:hover {
  color: #ee171f;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comics-title {
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.comics-page h2 {
  margin-left: 60px;
}

/* FORMS LOGIN & SIGNUP------------------------------------------------ */

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  margin: 0px auto;
}

.container-form {
  max-width: 1380px;
  margin: 0px auto;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 70vh;
}

.container-form h2 {
  text-align: center;
  margin-left: 0px;
}

form input {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ee171f;
}

form ::placeholder {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  color: lightgray;
}

form button {
  margin-top: 20px;
  padding: 10px;
  background-color: #ee171f;
  color: white;
  border: none;
  font-size: 18px;
}

/* FAVORIS------------------------------------------------ */

.favorites-page .container {
  margin: 0px auto;
  padding: 20px;
}

.favorite-icon {
  color: grey;
}

.favorite-icon:hover {
  color: red;
  cursor: pointer;
}

.favorites-page img {
  width: 200px;
}

.favorites-page {
  min-height: 70vh;
}

.favorite-content {
  display: flex;
  flex-wrap: wrap;
}

/* GLOBAL RULES MODAL --------------------------------- */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
}
.modal-container {
  /* background-color: #fff; */
  width: 1380px;
  display: flex;
  margin-top: 200px;
}

.modal-content {
  width: 100%;
  height: 210px;
  position: relative;
}

.cross {
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.cross:hover {
  color: #ee171f;
}

/* COMIC MODAL -----------------------------*/
.comic-modal img {
  width: 400px;
}

.comic-modal {
  color: white;
}

.comic-modal .modal-content {
  display: flex;
}

.comic-modal--text {
  padding-left: 30px;
  max-width: 800px;
}

.comic-modal--text p {
  margin-top: 40px;
  width: 500px;
  line-height: 20px;
}

.comic-modal--text button {
  background-color: #ee171f;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 10px 20px;
  margin-top: 100px;
  display: flex;
  align-content: center;
}

.comic-modal--text button span {
  margin-left: 5px;
}

.comic-modal--price {
  font-size: 30px;
}

/* PAYMENT -----------------------------*/

.payment-page .container {
  height: 70vh;
}

.payment-card {
  box-shadow: 2px 5px 10px rgba(30, 30, 30, 0.3);
  margin: 0px auto;
  width: 70%;
  padding: 20px 10px;
}

.divider {
  background-color: #ebedee;
  margin: 24px 0px;
  height: 1px;
}

.title-payment {
  font-size: 14px;
  color: #999;
  padding: 24px 24px 8px;
}

.payment-infos {
  padding: 24px;
  color: #666;
  font-size: 16px;
}

.payment-infos p {
  display: flex;
  justify-content: space-between;
  padding: 4px 0px;
  line-height: 22px;
}

.payment-card .total,
.payment-section {
  padding: 24px;
}

.payment-section span {
  font-weight: bold;
}

.payment-card .total p {
  display: flex;
  justify-content: space-between;
}

.checkout form {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  width: 100%;
}

.cardElement {
  width: 400px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%);
}

.checkout button {
  width: 40%;
}

/* FOOTER------------------------------------------------ */

.footer {
  background-color: rgba(30, 30, 30, 1);
  color: white;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
}

.footer a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

/* RESPONSIVE -------------------------------------*/

@media (max-width: 1024px) {
  .hero {
    height: 250px;
  }

  .hero img {
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

@media (max-width: 720px) {
  .search-bar input {
    width: 100px;
  }

  .header img {
    width: 150px;
  }
}
